{% extends "base.html" %}
{% from 'section.html' import section %}
{% from 'footer_logo.html' import footer_logo %}

{% block content %}
{% include 'header.html' %}

<div class="container">

    <div class="row text-center">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="mb-4">Bi-Weekly Community Update</h1>
            <p class="mb-4 lead">{{date}}</p>
        </div>
    </div>

    {{ section("Delivered features", "https://storage-fleek.soramitsu.co.jp/1183bac8-8e44-4596-aa51-7e2733f5f3e8-bucket/iroha/icon-1.png", delivered) }}
    {{ section("Features being implemented", "https://storage-fleek.soramitsu.co.jp/1183bac8-8e44-4596-aa51-7e2733f5f3e8-bucket/iroha/icon-2.png", current_work) }}
    {{ section("Planned features", "https://storage-fleek.soramitsu.co.jp/1183bac8-8e44-4596-aa51-7e2733f5f3e8-bucket/iroha/icon-3.png", planned) }}

    <div class="row unbreakable">
        <div class="col-md-6 offset-md-3 grey rounded-4 p-4">
            <div class="text-center">
                <p class="lead"><a href="mailto:iroha-news@soramitsu.co.jp" class="text-body-emphasis fw-bold">iroha-news@soramitsu.co.jp</a></p>
                <p class="lead mb-0">If you have any questions, please feel free to contact us.</p>
            </div>
        </div>
    </div>
    
    <div class="row unbreakable">
        <div class="col-md-6 offset-md-3 p-0">
            <hr class="mt-4"/>
        </div>
    </div>

    {{ footer_logo("https://storage-fleek.soramitsu.co.jp/1183bac8-8e44-4596-aa51-7e2733f5f3e8-bucket/iroha/4KWjs67.png") }}

    <div class="row unbreakable">
        <div class="col-md-6 offset-md-3 text-center">
            <small>Copyright © 2023 Soramitsu. All rights reserved. <a href="https://soramitsu.co.jp/terms" target="_blank" style="color: #e5242e; font-family: 'Inter', sans-serif;">Terms &amp; Conditions</a>.</small>
        </div>
    </div>

    {{ footer_logo("https://storage-fleek.soramitsu.co.jp/1183bac8-8e44-4596-aa51-7e2733f5f3e8-bucket/iroha/DhrVz4e.png") }}

    {% include 'disclaimer.html' %}

    <div class="row unbreakable">
        <div class="col-md-6 offset-md-3 text-center">&nbsp;</div>
    </div>

</div>
{% endblock %}
