<table class="rounded-2xl bg-light w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 16px; width: 100%; font-family: 'Inter', sans-serif;" bgcolor="#f7fafc" width="100%">
    <tbody style="font-family: 'Inter', sans-serif;">
      <tr style="font-family: 'Inter', sans-serif;">
        <td style="line-height: 24px; font-size: 16px; border-radius: 16px; width: 100%; font-family: 'Inter', sans-serif; margin: 0;" align="left" bgcolor="#f7fafc" width="100%">
          {{ indent('12', '48') }}
          <table class="ax-center btn btn-red-500 rounded-full px-6 w-full w-lg-48" role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" style="border-radius: 9999px; border-collapse: separate !important; width: 192px; font-family: 'Inter', sans-serif; margin: 0 auto;" width="192">
            <tbody style="font-family: 'Inter', sans-serif;">
              <tr style="font-family: 'Inter', sans-serif;">
                <td style="line-height: 24px; font-size: 16px; border-radius: 9999px; width: 192px; font-family: 'Inter', sans-serif; margin: 0;" align="center" bgcolor="#dc3545" width="192">
                  <a href="mailto:iroha-news@soramitsu.co.jp" style="color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 9999px; line-height: 20px; display: block; font-weight: normal; white-space: nowrap; background-color: #dc3545; padding: 8px 24px; border: 1px solid #dc3545;">Get in touch</a>
                </td>
              </tr>
            </tbody>
          </table>
          {{ indent('6', '24') }}
          <p class="text-center" style="line-height: 24px; font-size: 16px; width: 100%; font-family: 'Inter', sans-serif; margin: 0;" align="center">If you have any questions or would like to unsubscribe,<br/>please feel free to contact us.</p>
          {{ indent('9', '36') }}
        </td>
      </tr>
    </tbody>
</table>