{% from 'indent.html' import indent %}

<div class="space-y-4" style="font-family: 'Inter', sans-serif;">
    <h1 class="text-center text-4xl fw-800"
        style="padding-top: 0; padding-bottom: 0; font-weight: 800 !important; vertical-align: baseline; font-size: 36px; line-height: 43.2px; font-family: 'Inter', sans-serif; margin: 0;"
        align="center">Bi-Weekly Community Update</h1>
    {{ indent('4', '16') }}
    <p class="text-center"
        style="line-height: 24px; font-size: 16px; width: 100%; font-family: 'Inter', sans-serif; margin: 0;"
        align="center">{{ date }}</p>
</div>